.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0B151F;
  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit:fill;
    filter: blur(10px) brightness(0.5);
    z-index: 1;
  }

  .hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    padding: 0 1rem;
    width: 80%;
    color: #d7d9dc;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .cta-btn {
      display: inline-block;
      padding: 0.75rem 1.5rem;
      background-color: #007BFF;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      position: relative;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.services {
  position: relative;
  padding: 6rem 1rem;
  background-color: #bec3c5;
  text-align: center;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #0B151F;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .service-item {
      background-color: #dfdddd;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.05);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #0B151F;
      }

      p {
        font-size: 1rem;
        color: #4a4a4a;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      }
    }
  }

  .cta-btn {
    display: inline-block;
    margin-top: 3rem;
    padding: 0.75rem 1.5rem;
    &:hover {
        background-color: #063b64;
        color: #fff;
      }
  }

  // Responsive
  @media (max-width: 900px) {
    .services-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .services-grid {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 2rem;
    }

    .service-item h3 {
      font-size: 1.25rem;
    }

    .service-item p {
      font-size: 0.95rem;
    }
  }
}

.mini-cta {
  background-color: #063b64;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;

  .container {
    margin: 0 auto;
    p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 780px) {
}

@media (max-width: 600px) {
}

@media (max-width: 320px) {
}